@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Roboto+Flex:opsz@8..144&display=swap");

* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Assistant", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
